In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#dataset1
df_1 = pd.read_csv("true_car_listings.csv")

In [3]:
df_2 = pd.read_csv('tc20171021.csv', usecols = [i for i in range(1,9)])

In [4]:
df = pd.concat([df_1, df_2])
df.index = pd.RangeIndex(len(df.index))
df.index = range(len(df.index))

In [26]:
df

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,1,3
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,0,1
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,1,3
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,1,3
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,0,1
...,...,...,...,...,...,...,...,...,...,...
2085159,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8,0,0
2085160,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8,0,0
2085161,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6,0,0
2085162,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,0,0
2085163,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,0,0

In [27]:
df['Mileage'].mean()

52663.88357990067

In [85]:
def fun(x):
    if x> 0 and x <= 25000:
        return 1
    elif x >25000 and x <= 52663.88357990067:
        return 2
    elif x >52663.88357990067 and x <= 75000:
        return 3
    elif x>75000:
        return 4
    
    
Mileage = df.Mileage.apply(fun)

In [86]:
Mileage

0          2
1          1
2          2
3          2
4          1
          ..
2085159    1
2085160    1
2085161    1
2085162    1
2085163    1
Name: Mileage, Length: 2085164, dtype: int64

In [87]:
df['final_tar'] = Mileage

In [98]:
df    #554940+766896+270915+492413

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,2,4
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,1,2
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,2,4
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,2,4
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,1,2
...,...,...,...,...,...,...,...,...,...,...
2085159,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8,1,0
2085160,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8,1,0
2085161,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6,1,1
2085162,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,1,0
2085163,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,1,0

In [100]:
conditions = [
    (df['final_tar'] == 1) & (df['Year'] >2017),
    (df['final_tar'] == 1) & (df['Year'] <= 2017),
    (df['final_tar'] == 2) & (df['Year'] >2017),
    (df['final_tar'] == 2) & (df['Year'] <=2017),
    (df['final_tar'] == 3) & (df['Year'] >2017),
    (df['final_tar'] == 3) & (df['Year'] <= 2017),
    (df['final_tar'] == 4) & (df['Year'] >2017),
    (df['final_tar'] == 4) & (df['Year'] <=2017)
    ]

values = [1, 2, 3, 4, 5, 6, 7, 8]
df['condition'] = np.select(conditions, values)
df['condition']

0          4
1          2
2          4
3          4
4          2
          ..
2085159    2
2085160    2
2085161    1
2085162    2
2085163    2
Name: condition, Length: 2085164, dtype: int32

In [121]:
df

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,2,4
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,1,2
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,2,4
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,2,4
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,1,2
...,...,...,...,...,...,...,...,...,...,...
2085159,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8,1,2
2085160,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8,1,2
2085161,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6,1,1
2085162,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,1,2
2085163,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,1,2

In [103]:
df1 = df[df['condition']== 1]
df2 = df[df['condition'] == 2]
df3 = df[df['condition'] == 3]
df4 = df[df['condition'] == 4]
df5 = df[df['condition'] == 5]
df6 = df[df['condition'] == 6]
df7 = df[df['condition'] == 7]
df8 = df[df['condition'] == 8]

In [113]:
df1['condition'] = df1['Price']-(df1['Price']*.2)
df2['condition'] = df2['Price']-(df2['Price']*.3)
df4['condition'] = df4['Price']-(df4['Price']*.35)
df6['condition'] = df6['Price']-(df6['Price']*.4)
df8['condition'] = df8['Price']-(df8['Price']*.5)

C:\Users\DELL\AppData\Local\Temp/ipykernel_6284/193936588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['condition'] = df1['Price']-(df1['Price']*.2)
C:\Users\DELL\AppData\Local\Temp/ipykernel_6284/193936588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['condition'] = df2['Price']-(df2['Price']*.3)
C:\Users\DELL\AppData\Local\Temp/ipykernel_6284/193936588.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['condition'] = df4['Price']-(df4['Price']*.35)
C:\Users\DELL\AppData\Local\Temp/ipykernel_6284/193936588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['condition'] = df6['Price']-(df6['Price']*.4)
C:\Users\DELL\AppData\Local\Temp/ipykernel_6284/193936588.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['condition'] = df8['Price']-(df8['Price']*.5)

In [114]:
df1

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
6129,35721,2018,5,Littleton,CO,5J8TB4H37JL004139,Acura,RDXAWD,1,28576.8
6257,36000,2018,5,Littleton,CO,5J8TB4H37JL005209,Acura,RDXAWD,1,28800.0
6258,36000,2018,5,Littleton,CO,5J8TB4H34JL003045,Acura,RDXAWD,1,28800.0
6529,32995,2018,250,Cerritos,CA,19UUB1F30JA004453,Acura,TLXFWD,1,26396.0
6640,33929,2018,239,Hoffman Estates,IL,19UUB1F55JA000321,Acura,TLXFWD,1,27143.2
...,...,...,...,...,...,...,...,...,...,...
2085122,66240,2018,14,Nazareth,PA,LVY992ML7JP006733,Volvo,S90T6,1,52992.0
2085133,55140,2018,15,Englewood,NJ,YV4A22RK6J1004304,Volvo,XC60T6,1,44112.0
2085135,56560,2018,230,Hasbrouck Heights,NJ,YV4A22RL6J1004070,Volvo,XC60T6,1,45248.0
2085149,59005,2018,8,San Leandro,CA,YV4A22RL6J1013609,Volvo,XC60T6,1,47204.0
2085161,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,Volvo,XC90T6,1,55004.0

In [115]:
df2

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,1,7621.6
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,1,10359.3
13,17628,2015,13797,Fargo,ND,19VDE1F38FE001240,Acura,ILX5-Speed,1,12339.6
15,14995,2014,23454,Hackettstown,NJ,19VDE1F31EE009243,Acura,ILX5-Speed,1,10496.5
16,14990,2015,23603,Freeport,NY,19VDE1F3XFE007606,Acura,ILX5-Speed,1,10493.0
...,...,...,...,...,...,...,...,...,...,...
2085158,52995,2017,2474,Berwyn,PA,YV1A22MK1H1010445,Volvo,S90T6,1,37096.5
2085159,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,Volvo,XC90T8,1,55930.0
2085160,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,Volvo,XC90T8,1,56626.5
2085162,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,1,50582.0
2085163,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,1,42168.0

In [107]:
df3

Empty DataFrame
Columns: [Price, Year, Mileage, City, State, Vin, Make, Model, final_tar, condition]
Index: []

In [116]:
df4

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,2,5846.75
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,2,5846.75
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,2,7149.35
6,14490,2014,34032,Greatneck,NY,JH4CU2F84EC002686,Acura,TSXSpecial,2,9418.50
7,13995,2013,32384,West Jordan,UT,JH4CU2F64DC006203,Acura,TSX5-Speed,2,9096.75
...,...,...,...,...,...,...,...,...,...,...
2085092,35995,2015,39860,Berwyn,PA,YV4902RG8F2587612,Volvo,XC60T6,2,23396.75
2085093,47995,2016,28647,Culver City,CA,YV4102XM5G1056400,Volvo,XC90T5,2,31196.75
2085105,48995,2016,30799,Berwyn,PA,YV4A22PK2G1021841,Volvo,XC90AWD,2,31846.75
2085113,53775,2016,34906,Nazareth,PA,YV4A22PM4G1038044,Volvo,XC90AWD,2,34953.75
2085126,52700,2016,25658,Portland,OR,YV4A22PK6G1092153,Volvo,XC90AWD,2,34255.00

In [109]:
df5  #drop outliers

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
129795,29867,2018,57872,Surprise,AZ,2GNAXMEV4J6103708,Chevrolet,EquinoxFWD,3,5
966738,29867,2018,57872,Surprise,AZ,2GNAXMEV4J6103708,Chevrolet,EquinoxFWD,3,5

In [117]:
df6

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
8,10495,2013,57596,Waterbury,CT,19VDE2E50DE000234,Acura,ILX6-Speed,3,6297.0
9,9995,2013,63887,El Paso,TX,19VDE1F50DE010450,Acura,ILX5-Speed,3,5997.0
10,12921,2012,58550,Boise,ID,JH4CU2F44CC003220,Acura,TSXAutomatic,3,7752.6
18,9500,2011,68289,Arcadia,FL,JH4CU2F62BC007928,Acura,TSX4dr,3,5700.0
19,7990,2007,60552,Fairlawn,NJ,JH4CL96857C019060,Acura,TSX4dr,3,4794.0
...,...,...,...,...,...,...,...,...,...,...
2084613,25441,2014,53609,Hamburg,PA,YV4902DZ9E2514174,Volvo,XC60T6,3,15264.6
2084627,25993,2015,58157,Sinking Spring,PA,YV4902RB8F2620998,Volvo,XC60T6,3,15595.8
2084728,32998,2015,56069,Raleigh,NC,YV4902NK5F1212146,Volvo,XC702015.5,3,19798.8
2084771,29399,2013,68047,Renton,WA,YV4902DZ2D2385810,Volvo,XC60T6,3,17639.4
2085102,43620,2015,53019,Berwyn,PA,YV4902RB3F2577204,Volvo,XC60T6,3,26172.0

In [111]:
df7

Empty DataFrame
Columns: [Price, Year, Mileage, City, State, Vin, Make, Model, final_tar, condition]
Index: []

In [118]:
df8

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
5,7989,2012,105246,Miami,FL,JH4CU2F83CC019895,Acura,TSXAutomatic,4,3994.5
12,7750,2009,91980,San Antonio,TX,JH4CU26639C015787,Acura,TSX4dr,4,3875.0
54,11888,2012,84126,Manassas,VA,JH4CU2F43CC016959,Acura,TSXAutomatic,4,5944.0
91,10990,2012,81301,Homestead,FL,JH4CU2F80CC018400,Acura,TSXAutomatic,4,5495.0
111,11585,2012,80359,Davie,FL,JH4CU2F81CC002691,Acura,TSXAutomatic,4,5792.5
...,...,...,...,...,...,...,...,...,...,...
2084798,4995,1997,156677,Reno,NV,YV1LS5729V1382231,Volvo,8504dr,4,2497.5
2084842,13963,2013,217804,Cleveland,OH,YV4952DZ9D2365555,Volvo,XC603.2L,4,6981.5
2084969,3111,2001,202691,Odessa,TX,YV1SW61R512089006,Volvo,V702.4,4,1555.5
2085053,5995,2003,144538,Fort Walton Beach,FL,YV1SZ59H831096165,Volvo,V705dr,4,2997.5
2085107,34988,2017,188968,Santa Ana,CA,YV440MRU2H2142166,Volvo,XC60T5,4,17494.0

In [120]:
492413+270913+766896+552403+2537

2085162

In [122]:
final_df = pd.concat([df1,df2,df4,df6,df8],ignore_index = True)

In [123]:
final_df

,Price,Year,Mileage,City,State,Vin,Make,Model,final_tar,condition
0,35721,2018,5,Littleton,CO,5J8TB4H37JL004139,Acura,RDXAWD,1,28576.8
1,36000,2018,5,Littleton,CO,5J8TB4H37JL005209,Acura,RDXAWD,1,28800.0
2,36000,2018,5,Littleton,CO,5J8TB4H34JL003045,Acura,RDXAWD,1,28800.0
3,32995,2018,250,Cerritos,CA,19UUB1F30JA004453,Acura,TLXFWD,1,26396.0
4,33929,2018,239,Hoffman Estates,IL,19UUB1F55JA000321,Acura,TLXFWD,1,27143.2
...,...,...,...,...,...,...,...,...,...,...
2085157,4995,1997,156677,Reno,NV,YV1LS5729V1382231,Volvo,8504dr,4,2497.5
2085158,13963,2013,217804,Cleveland,OH,YV4952DZ9D2365555,Volvo,XC603.2L,4,6981.5
2085159,3111,2001,202691,Odessa,TX,YV1SW61R512089006,Volvo,V702.4,4,1555.5
2085160,5995,2003,144538,Fort Walton Beach,FL,YV1SZ59H831096165,Volvo,V705dr,4,2997.5
2085161,34988,2017,188968,Santa Ana,CA,YV440MRU2H2142166,Volvo,XC60T5,4,17494.0